<!doctype html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <title>Mon serveur - À propos</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='about.css') }}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/cc311bd155.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="page">
        <div class="header">
            <div class="titre-nav">
                <div class="titre">
                    <h1 class="Acceuil"><i class="fas fa-home"></i>Acceuil</h1>
                    <form action="http://{{ip}}:5000/"> 
                    <input type="submit" value="Accueil" />
                    </form>
                </div>
                <div class="nav">
                </div>
            </div>
            <div class="slogan">
                <h2>Domotisation volet</h2>
                <p>Serveur créé pour gérer les volets dans la maison.</p>
            </div>
        </div>
        <div class="corps">
            <div class="block">
                <h4>Projet sur Git</h4>
                <a href="https://gitlab.com/Atilius/automatisationvolet">https://gitlab.com/Atilius/automatisationvolet</a>
            </div>
            <div class="block">
                <h4>Contributeurs :</h4>
                <h3>Alexandre Ansel <br>
                    Pierre Ansel</h3>
            </div>
            <div class="block">
                <h4>Versions :</h4>
                <p id="version">       Dernière mise à jour : V2.3 le 27/11/2020<br><br>

                    24/05/2020 : Version 1.0 - Volets automatiques<br>
                    03/11/2020 : Version 2.0 - Serveur Web Python<br><br>
            
                     <!-- À venir : Version 3.0 - Serveur Web JavaScript<br><br> -->
                </p>
            </div>
        </div>

    
    
    
    
    
    
    
    
    
        <!-- <h1>À propos</h1>

    <div>
        Serveur créé pour gérer les volets dans la maison.
    </div>

    <div><br>
        <a href="https://gitlab.com/Atilius/automatisationvolet">Projet automatisationvolet sur Git</a>
    </div>

    <h2>Contributeurs</h2>

    <div>
        Alexandre Ansel <br>
        Pierre Ansel
    </div>

    <h2>Versions</h2>

    <div>
        Dernière mise à jour : V2.3 le 27/11/2020<br><br>

        24/05/2020 : Version 1.0 - Volets automatiques<br>
        03/11/2020 : Version 2.0 - Serveur Web Python<br><br>

         À venir : Version 3.0 - Serveur Web JavaScript<br><br> -->

    </div>
 

</body>

</html>