<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/cc311bd155.js" crossorigin="anonymous"></script>
    <title>Home</title>
</head>

<body>
    <div class="page">
        <div class="header">
            <div class="titre-nav">
                <div class="titre">
                    <h1 class="Acceuil"><i class="fas fa-home"></i>Acceuil</h1>
                </div>
                <div class="nav">
                    <h1 class="info"><i class="fas fa-info-circle"></i> Information</h1>
                    <form action="http://{{ip}}:5000/about">
                        <input type="submit" value="À propos" />
                    </form>
                </div>
            </div>
            <div class="slogan">
                <h2>Domotisation volet</h2>
                <p>Il est {{heure}} : {{minute}} : {{seconde}}</p>
            </div>
            <table>
                <caption>Gestion des salles</caption>
                <tr>
                    <th></th>
                    <th class="cadre">Ouverture</th>
                    <th class="cadre">Fermeture</th>
                </tr>
                <tr>
                    <td>Salon</td>
                    <td>{{openSalon}}</td>
                    <td>{{closeSalon}}</td>
                </tr>
                <tr>
                    <td>Billard</td>
                    <td>{{openBillard}}</td>
                    <td>{{closeBillard}}</td>
                </tr>
                <tr>
                    <td>Salle à manger</td>
                    <td>{{openSAM}}</td>
                    <td>{{closeSAM}}</td>
                </tr>
            </table>
        </div>
        <div class="corps">
            <div class="block">
                <h2 class="blockTitle">Salon</h2>
                <div class="bouton">
                    <form class="espace" action="http://{{ip}}:5000/upSalon">
                        <input type="submit" value="Ouvrir" />
                    </form>
                    <form class="espace" action="http://{{ip}}:5000/mySalon">
                        <input type="submit" value="My" />
                    </form>
                    <form class="espace" action="http://{{ip}}:5000/downSalon">
                        <input type="submit" value="Fermer" />
                    </form>
                </div>
            </div>
            <div class="block">
                <h2 class="blockTitle">Billard</h2>
                <div class="bouton">
                    <form class="espace" action="http://{{ip}}:5000/upBillard">
                        <input type="submit" value="Ouvrir" />
                    </form>
                    <form class="espace" action="http://{{ip}}:5000/myBillard">
                        <input type="submit" value="My" />
                    </form>
                    <form class="espace" action="http://{{ip}}:5000/downBillard">
                        <input type="submit" value="Fermer" />
                    </form>
                </div>
            </div>
            <div class="block">
                <h2 class="blockTitle">Salle à Manger</h2>
                <div class="bouton">
                    <form class="espace" action="http://{{ip}}:5000/mySAM">
                        <input type="submit" value="Ouvrir" />
                    </form>
                    <form class="espace" action="http://{{ip}}:5000/mySAM">
                        <input type="submit" value="My" />
                    </form>
                    <form class="espace" action="http://{{ip}}:5000/downSAM">
                        <input type="submit" value="Fermer" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>