html, body {
    padding: 0;
    margin: 0;
    font-family: 'Nunito', sans-serif;
}

.header{
    background-color: rgb(20, 20, 20);
    color: aliceblue;
}

.page{
    color: aliceblue;
}

.titre-nav{
    display: flex;
    justify-content: space-between;
    width: 95%;
    height: 100px;
    align-items: center;
    margin: auto;
}

.titre{
    font-size: 1em;
}

.nav{
    font-size: 0.5em;
}

.slogan{
    text-align: center;
    font-size: 2.5em;
    margin-top: -1em;
    padding-bottom: 0.1em;
}

i{
    font-size: 2em;
}

.corps{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 4em;
}

.block{
    background-color: rgb(20, 20, 20);
    flex-basis: 30%;
    text-align: center;
    margin-bottom: 0.5em;
    min-width: 350px;
    padding-bottom: 3em;
}

p{
    margin-top: -1em;
    font-size: 0.8em;
}

h2{
    font-size: 1.5em;
}

a{
    text-decoration: none;
    color: rgb(167, 167, 167);
    font-size: 2em;
}

a:hover{
    text-decoration: underline;
    color: rgb(255, 255, 255);
}

h3{
    font-size: 2.5em;
}

#version{
    font-size: 1.3em;
}

h4{
    font-size: 2.5em;
    padding-bottom: 0.8em;
}