html, body {
    padding: 0;
    margin: 0;
    font-family: 'Nunito', sans-serif;
}

.page{
    color: aliceblue;
}
.header{
    background-color: rgb(20, 20, 20);
    color: aliceblue;
}

.titre-nav{
    display: flex;
    justify-content: space-between;
    width: 95%;
    height: 100px;
    align-items: center;
    margin: auto;
}

.titre{
    font-size: 1em;
}

.nav{
    font-size: 0.5em;
}

.slogan{
    text-align: center;
    font-size: 2.5em;
    margin-top: -2.5em;
}

i{
    font-size: 2em;
}

.corps{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 4em;
}

.bouton{
    padding-bottom: 15%;
}

.block{
    background-color: rgb(20, 20, 20);
    flex-basis: 30%;
    text-align: center;
    margin-bottom: 0.5em;
    min-width: 350px;
    padding-bottom: 3em;
}

.espace{
    padding: 1em;
}

h2{
    padding-bottom: 0.5em;
}

table{
    font-size: 1em;
    margin: auto;
    padding-bottom: 2em;
}

caption{
    font-size: 2.5em;
    padding-bottom: 0.2em;
}

tr{
    text-align: center;
    font-size: 1.2em;
}

.cadre{
    border: 1px solid white;
    padding-bottom: 0.5em;
    font-size: 1.2em;
}

td{
    border: 1px solid white;
}

p{
    color: rgb(255, 255, 255);
    font-size: 0.7em;
    margin-top: -2em;
}

.blockTitle{
    font-size: 2.5em;
    margin-bottom: -0.1em;
}